body{
    background-color: rgb(250, 238, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.content{
    height: 50vh;
    width: 30%;
    margin: 0px;
    padding: 0px;
}

.screen{
    height: 20%;
    width: 97%;
    margin-bottom: 4px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    background-color: rgb(199, 199, 194);
    color: yellow;
    font-size: 2em;
    border-radius: 5px 5px 0% 0%;
}

.other, .seven-eight-nine-cross, .four-five-six-moinas, .one-two-three-plus, .zero-coma-equal{
    height: 16%;
    width: 100%;
}

.but{
    height: 98%;
    width: 24%;
    margin: 0px;
    font-size: 1.2em;
}

.zero{
    height: 98%;
    width: 49%;
}

button{
    border-radius: 5%;
}